@use semver::Version as SemVer;
@use crate::CompatRange;
@use std::collections::BTreeMap;

@(table: (Vec<SemVer>, BTreeMap<&SemVer, CompatRange>))

<h1>test</h1>

<table>
    <thead><tr><th></th>
        @for rustc_ver in &table.0 {
            <th>@rustc_ver</th>
        }
    </tr></thead>
    <tbody>
        @for (v, row) in table.1.into_iter().rev() {
            <tr>
                <th>@v</th>
                @for rustc_ver in &table.0 {
                    <td>
                        @if rustc_ver >= &row.oldest_ok && rustc_ver <= &row.newest_bad {
                            ?
                        } else {
                            @if rustc_ver == &row.oldest_ok {
                                ✅
                            }
                            @if rustc_ver > &row.oldest_ok {
                                ✓
                            }
                            @if rustc_ver == &row.newest_bad {
                                ❌
                            }
                            @if rustc_ver < &row.newest_bad {
                                𐄂
                            }
                        }
                    </td>
               }
            </tr>
        }
    </tbody>
</table>
